<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css.css') }}">

<div class="wrapper">
    <h1>Monitor</h1>
  <div class="table">
    <div class="row header">
      <div class="cell">
        Subscribed Channels Settings:
      </div>
    </div>

    <div class="row">
      {% for id in id_list %}
      <div class="cell" data-title="Name">
        <input type='button' value='channel id: {{id}}' onclick="window.location.href='/update/{{id}}'"/>
      </div>
      {% endfor %}
    </div>
  </div>
<!-- {% for act in ['pause','restart','reset','unsubscribe'] %}
  <div>
    <input type='button' value='{{act}}' onclick="window.location.href='/monitor/{{act}}'"/>
  </div>
{% endfor %}

</body>
</html> -->


<!-- <body>
  <p>Home page</p>
    <div>
      <input type='button' value='Pause' onclick="window.location.href='/monitor/pause'"/>
      <input type='button' value='Restart' onclick="window.location.href='/monitor/restart'"/>
    </div>
    <div>
      <input type='button' value='Reset' onclick="window.location.href='/monitor/reset'"/>
    </div>
    <div>
      <input type='button' value='Unsubscribe' onclick="window.location.href='/monitor/unsubscribe'"/>
    </div>
  <a href='/reset'>reset</a>
</body>
</html> -->
